<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>
    <settings>
        <!-- <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/> -->
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 查询时，关闭关联对象即时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指 定)，不会加载关联表的所有字段，以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 日志实现方式。SLF4J、LOG4J2、LOG4J、STDOUT_LOGGING -->
        <!-- <setting name="logImpl" value="LOG4J"/>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="logImpl" value="SLF4J"/> --> <!-- mybatis原则上是不支持logback，但是logback是SLF4J的完美实现者 -->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
</configuration> 